[submodule "components/sigma"]
	path = components/sigma
	url = https://github.com/rxdu/xmBase.git
	branch = main
[submodule "components/mu"]
	path = components/mu
	url = https://github.com/rxdu/xmDriver.git
	branch = main
[submodule "components/nabla"]
	path = components/nabla
	url = https://github.com/rxdu/xmNavigation.git
	branch = devel
[submodule "components/gamma"]
	path = components/gamma
	url = https://github.com/rxdu/quickviz.git
	branch = main
