[submodule "components/base"]
	path = components/base
	url = https://github.com/rxdu/xmBase.git
	branch = main
[submodule "components/driver"]
	path = components/driver
	url = https://github.com/rxdu/xmDriver.git
	branch = main
[submodule "components/navigation"]
	path = components/navigation
	url = https://github.com/rxdu/xmNavigation.git
	branch = devel
[submodule "components/viewer"]
	path = components/viewer
	url = https://github.com/rxdu/quickviz.git
	branch = main
[submodule "components/telemetry"]
	path = components/telemetry
	url = https://github.com/rxdu/xmTelemetry.git
	branch = main
[submodule "components/messaging"]
	path = components/messaging
	url = https://github.com/rxdu/xmMessaging.git
	branch = main
